git+https://github.com/mineshkothari/reusable_blog.git
arrow==0.15.1
backports.functools-lru-cache==1.2.1
certifi==2017.11.5
chardet==3.0.4
Django==1.11.7
django-disqus==0.5
django-forms-bootstrap==3.1.0
django-paypal==0.3.6
funcsigs==1.0.2
idna==2.6
mock==2.0.0
olefile==0.44
pbr==3.1.1
Pillow==4.3.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
stripe==1.75.1
urllib3==1.22
virtualenv==15.1.0
